* {
  margin: 0;
  padding: 0;
}

body{
	color: #000;
	background: url(../img/hg.png) #E3E3E3;
	font-family: Verdana, sans-serif;
}

h1{
	font-size: 125%;
	margin: 20px 0 10px 0;
}

h2{
	font-size: 90%;
	margin: 20px 0 10px 0;
}

a{
	color: #000;
}

a:hover{
	text-decoration: none;
}

button, textarea, input, p{
	font-family: Verdana, sans-serif;
	font-size: 0.8em;
	line-height: 1.5;
}

table td{
	width: 90px;
	padding-bottom: 5px;
}

table .right_col input{
	width: 310px;
}

.stern{
	color: #FC0004;
}

input{
	padding: 5px;
}

input#loginBtn,
input#registrierungBtn,
input#sendenBtn,
input#verwarnenBtn,
input#aufgebenBtn,
input#clearBtn{
	padding: 0px;
}

/** Main ANFANG **/

#wrapper{
  width: 960px;
  margin: 20px auto;
  padding: 30px;
  background: #FFF;
  border: #999 solid 1px;
}

#main_game{
	margin-top: 15px;
	overflow: auto;
}

#main{
	position: relative;
}

#main .cat{
	position: absolute;
	right: 20px;
	top: 0px;
}

/** Anmeldung ANFANG **/

#log_reg{
	width: 900px;
	padding: 20px 30px;
	margin: 0 auto;
	border: #999 solid 1px;
	overflow: auto;
}

.log{
  float: left;
  width: 430px;
  margin-right: 35px;
}

.reg{
  width: 430px;
  overflow: hidden;
}

/** Anmeldung ENDE **/

/** Chat ANFANG **/
.left{
  float: left;
  width: 305px;
  margin-right: 30px;
}

#mitspieler, #ausgabe{
	width: 305px;
	margin-bottom: 15px;
	padding: 5px;
	border: #999 solid 1px;
	overflow: auto;
}

#eingabe{
	width: 295px;
	margin-bottom: 15px;
	border: #999 solid 1px;
}

#mitspieler{
	height: 100px;
}

#ausgabe{
	height: 400px;
}

#eingabe{
	height: 30px;
}

/** Chat ENDE **/

/** Zeichenfläche ANFANG **/
.right{
  overflow: hidden;
  width: 625px;
}

#begriff, #countdown{
	padding: 15px 10px;
	margin-bottom: 20px;
	border: #999 solid 1px;
}

#begriff{
	float: left;
	width: 520px;
}

#countdown{
	float: right;
}

/** Zeichentools ANFANG **/
#farben_btn{
	clear: both;
  	margin-bottom: 13px;
}

#farben_btn img, #pixelbreite_btn img{
	cursor:pointer;
}

#farben_btn{
	float: left;
}

#pixelbreite_btn{
	float: right;
}
/** Zeichentools ENDE **/

canvas {
	border: #999 solid 1px;
	margin-bottom: 10px;
	clear: both;
}
/** Zeichenfläche ANFANG **/


/** Main ENDE **/

/** Footer ANFANG **/

footer{
	width: 960px;
  	margin: 0 auto;
}

footer p{
	float: right;
}

/** Footer ENDE **/